<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="Stylesheet" type="text/css" href="login.css" />
    <title>Log in page. </title>
</head>
<body>
<div class="pasek" />
<div class="center"><div th:if="${param.error}" class="alert alert-error">
    Invalid username or password.
</div></div>
<div class="center"><div th:if="${param.logout}" class="alert alert-success">
    You have been logged out!
</div></div>
<div id="pageload">
    <div class="logo">
        <img src="login.png" alt="logo" id="logo" />
    </div>
    <form th:action="@{/login}" method="post">
        <div class="center">
            <br><input type="text" name="username" placeholder="Enter username..."/></br>
            <br><input type="password" name="password" placeholder="Enter password..."/></br>
            <br><button type="submit">Log in</button></br>
        </div>
    </form>
</div>
</body>
</html>