


@import "../valo/valo.scss";

$v-font-family:"Verdana";


$v-app-background-color: #fffae6;
$v-app-loading-text: "Loading...";

@mixin bowlingmanager {
  @include valo;

  .toolbar {
       padding:  0 0 0 0;
     }
    .v-button {
     height: 8vw;
     width: 14vw;
     margin: 22px;
     border-radius: 20px;
     background: white;
     box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
     font-size: 1.5vw;
     font-family: "Verdana";
     color: rgb(0, 0, 0);
     font-weight: bold;
     line-height: 1.639;
     text-align: center;

  }
  .languagesComponent{
    background-color: rgb(199, 76, 141);
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
      .v-slot{
        width: 2% !important;
        margin-left: -6.5% !important;
        margin-right: 7% !important;
        float: right; ;
      }
  }


}

@include bowlingmanager;
