


@import "../valo/valo.scss";

$v-font-family:"Verdana";


$v-app-background-color: #fffae6;
$v-app-loading-text: "Loading...";

@mixin bowlingmanager {
  @include valo;

  .toolbar {
       padding:  0 0 0 0;
     }


  .header{
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
    background-color: white;
    padding: 0px 0px 0px 0px;
    .imageLa{

    }
    .logoImage{
        width: 200px;
        margin-left: 5%;
        padding: 5px;


    }
    .januszProgramowania{
      font-size: calc(10px + 0.5vw);
      font-family: "Verdana";
      color: #221b7b;
      float:left;



        .v-link{
          font-weight: bold;
          font-style: italic;
          color: rgb(0, 0, 0) !important;
        }
    }
    .BackButton{
    height: 150px;

    }
  }

    .headerLabel {

      font-size: 3.5em;
      margin-before: 0.83em;
      margin-after: 0.83em;
      margin-start: 0;
      margin-end: 0;
      font-weight: bold;
    }

  .mainMenuButton {
  .v-button {
     height: 160px;
     width: 260px;
     margin: 1vw 3vw;

     background: white;
     box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
     font-size: calc(12px + 0.5vw);
     font-family: "Verdana";
     color: #221b7b;
     font-weight: bold;
     line-height: 1;
     text-align: center;
  }

}



   .languagesComponent{
       background-color: white;
       margin: auto;
       padding: 5px;
       width: 100%;
       height: 40px;
         .v-slot{
           width: 40px !important;
           margin-left: 10px !important;
           float: right;
         }
     }


    .forClient{
    background-color: white;

    width: 650px;
    padding: 20px;


    }

    .forClient > * > * > *  > *  {

 font-size:16px;


        }

    .forClient > * > * > * > * > * > * > *  {

font-weight: bold;
 font-size:16px;


        }


    .forClient_reservation{
 background-color: white;
 text-align:center;
 width: 510px;
    }

        .forClient_reservation > * > *{
     background-color: #fffae6;
     font-weight: bold;

        }

.asClient_infoCaption{

border-right-style: groove;
 border-width: 1px
}

.Reservation_hl{

background-color: white;
margin-left: 50px;
font-weight: bold;


}
}


@include bowlingmanager;



